<component name="ArtifactManager">
  <artifact type="war" name="mybatisplus-demo:war">
    <output-path>$PROJECT_DIR$/mybatisplus-demo/target</output-path>
    <root id="archive" name="mybatisplus-demo-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="mybatisplus-demo:war exploded" />
    </root>
  </artifact>
</component>